body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0eded;
    
}
.Sign-In{
    width: 300px;
    height: 230px; 
    background-color: #f3f4f6; 
    padding: 0;
    justify-content: space-around;
    flex-direction: column;
    border: 1px rgb(240, 240, 243);
    border-radius: 4px;
    margin: 10px auto 20px auto;
    padding: 0px 17px 13px; 
    transform: translateY(-15px); 
    
    
}
.Sign-In h1{
    font-weight: 400;
    font-size: 28;
}
.Sign-In label{
    font-size: 13px;
    padding-left: 2px;
    padding-bottom: 2px;
    font-weight: 700;
}
.forgot{
    padding-left: 120px;

}
    
.Sign-In input{
    width: 280px;
    height: 25px;
    padding: 3px 7px;
    background-color: rgb(253, 252, 252);
    border-color: #a29e9e;
    border-radius: 3px;
    
    
}
.Sign-In button{
    width: 300px;
    height: 31px;
    padding: 3px 7px;
    margin-top: 10px;
    background-color: rgb(241, 183, 83);
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    background-image: linear-gradient(#f7da90,#e2b33b);
    border-radius: 3px;
}
.Sign-In a{
    text-decoration: none;
    color: #0066c0;
    margin-top: 10px;
    font-size: 13px;
}
.icon::before{
    display: inline-block;
    content: "";
    border-top: 4px solid transparent;
    border-left: 4px solid #b6b4b4;
    border-bottom: 4px solid transparent;
    margin-top: 20px;
    margin-right: 5px;

}
.contianer{
    display: flex;
    justify-content: center;
    
}
.contianer hr{
    display: flex;
    width: 6%;
    height: 5%;
    margin-top: 10px;
    color: #a6a6a6;
    margin: 7px;
}
p{
    display: flex;
    color: gray;
    margin-top: 20px;
    padding: 0px 8px 0px 7p;
    font-size: small;
}
.btn button{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 29px;
    margin: 15px auto;
    padding: 0px 20px 0px 20px;
    padding-top: .3%;
    background-color: #afacac;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 5px;
    
}
footer .footies{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    width: 250px;
    margin:25px auto 15px auto;

}
footer .footies a{
    font-size: 12px;

}
.footies ul li{
    list-style-type: none;
    display: inline-block;
    padding: 3px 7px;
    margin-top: 15px;

}
h6{
    font-size: 11px;
    color: #555;
    text-align: center;
}
